body #shopify-section-header {
  font-family: var(--font-header);
  color: var(--color);
}

body main {
  font-family: var(--font-body);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 16px;
}

#shopify-section-announcement-bar {
  z-index: 20;
  position: relative;
}

#shopify-section-header {
  z-index: 10;
  position: relative;
}

#shopify-section-model {
  z-index: 30;
  position: relative;
}